@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}
/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

body {
  line-height: 1.5;
  min-height: 100vh;
}

ul {
  margin: 0;
  padding-inline: 0;
}

li {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behaviour: auto !important;
  }
}

/* Variables */
:root {
  font-family: 'Inter var', sans-serif;
}

/* Base */

/* Layout */
.contenedor-banner {
outline: 2px solid black;

  background-color: #ff94ed;

}
.contenedor-banner h2 {
  font-size: 30px;
  text-align: center;
  /*padding-left: 40px;*/
  
}
.contenedor-banner p {
  text-align: center;
}

.contenedor-banner img {
  width: 300px;
  height: 169px;
 /* margin-top: auto;*/
 /* margin-right: auto;*/
 /* margin-bottom: auto;*/
    margin-left: auto;
}
 .contenedor-main {
background-color: #f6fd8f;
} 

.hf {
height: 200px;
background-color: ;
}
.contenedor-fila{
  display: flex;
  margin: 0 auto;
  padding-block: 40px;
  width: 80%;

}
.contenedor-fila img{
  width:280px;
  margin: 5px auto;
  height: auto;

}
.class{

}
/* Componentes */

/* Utilidades */
.flex {
  display: flex;
}
.grid {
  display: grid;
}
