/* Imports & supports */
@font-face
{
font-family: "Fesse";
src: url("/Typefesse_Pleine.woff2");
}
/* Reset & Base */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}
body {
  line-height: 1.5;
  min-height: 100vh;
}
ul {
  margin: 0;
  padding-inline: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img,
picture {
  max-width: 100%;
  display: block;
}
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
 font-family: "Fesse";
}

/* 2. Vamos a crear 3 animaciones distintas, 1 para animar el background del banner, otra para animar el título y la tercera para animar el parrafo */
.banner {
  height: 60vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  transition: backgroud-color 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}

.banner:hover {

  background-color: red;

}


.banner h1 {
font-family:Typefesse;
color: red;
font-size: 120px;
line-height: 1.1;
transition: color 500ms;
}

.banner h1:hover {
  color: black;
}


.banner p{
font-family: 'Courier New', Courier, monospace;
animation: intro 10s infinite;
color: brown;
}

@keyframes intro {
  0%{
    transform: translateX(-500px);
  }
  100%{
     transform: translateX(500px);
  }
}
